.login-container {
	/*border: 2px solid #444444EE;*/
	height: 100vh;
	width: 100%;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: linear-gradient(45deg, #f7f7f7 0%, #efefef 100%)*/
	background: radial-gradient(circle, rgba(224,225,225,1) 4%, rgba(230,235,235,1) 44%, rgba(255,255,255,1) 100%);
	/*display: flex;
	jus*/
/*	margin: 1rem;*/
}

.login-form {
	/*border: 2px solid #333333CC;*/
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.28);
	border-radius: 5px;
  	background: white;
	/*background: #22222222;*/
	height: 75vh;
	width: 50vw;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*width: 300px;*/
}

.login-form .banner {
	width: 75%;
	border-radius: 4px;
}

.login-form input {
	display: block;
	width:75%;
	border: 0;
	border-bottom: 1px dashed #DDDDDD;
	/*margin: 50px 4rem;*/
}

.login-form button {
	background: inherit;
	/*width: 25%;*/
	padding: 10px;
	font-size: 1.25rem;
	font-weight: 500;
	cursor: pointer;
	border: 0;
	color: #858585;
}

.login-form button:hover {
	text-decoration: underline;
	text-underline-position: under;
}

.login-form a {
	color: grey;
	text-decoration: none;
	font-weight: 500;
	/*text-underline-position: under;*/
}

.login-form a:hover {
	text-decoration: underline;
	text-underline-position: under;
}

@media only screen and (max-width: 500px), (max-height: 350px) {
	.login-form {
		height: 90vh;
		width: 90vw;
	}
}